.videos {
    padding: 55px 0 32px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 540px);
        grid-template-rows: 304px;
        grid-auto-rows: 304px;
        gap: 20px;
        justify-content: center;
    }

}