.boards {
    background: url("../img/boards/bg.png") center center/cover no-repeat;    
    &__inner {
            min-height: 736px;
            padding-top: 44px;
    }
    &__subtitle {
        line-height: 18.75px;
        letter-spacing: 1px;
        text-align: center;
    }
    &__title {
        margin: 0;
        margin-top: 11px;
        font-size: 45px;
        font-weight: 700;
        line-height: 50.65px;
        text-align: center;
    }
    &__info {
        margin: 15px auto 0 auto;
        max-width: 485px;
        line-height: 18.75px;
        letter-spacing: 1px;
        text-align: center;
    }
    &__button {
        margin: 20px auto 0 auto;

    }
}